@{
    ViewData["Title"] = "Admin";
}
<h1>@ViewData["Title"]</h1>

<li class="nav-item">
    <a class="nav-link " style="color:white" asp-area="" asp-controller="Donations" asp-action="Index">Donations</a>
</li>
