@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 style="color:white" class="display-4">The Disaster Alleviation Foundation</h1>
    <br />
    <p style="color:White">
        The foundation’s mission is to provide practical aid during disasters.
        They receive donations from various sources and need a system to track what
        is available and what has been dispatched to help with which disaster.
    </p>
</div>
