<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - APPR___TASK_1__USE_</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


    <!--(How to add CSS, 2022)-->
    <!--(CSS Gradients, 2022)-->

</head>
<body>
    <style>
        body {
            background: rgb(235,117,11);
            background: linear-gradient(252deg, rgba(235,117,11,0.5032387955182073) 16%, rgba(189,25,227,0.5) 79%);
        }
    </style>

    <header>
       

        <nav  style="background: rgb(189,25,227); background: linear-gradient(118deg, rgba(189,25,227,1) 0%, rgba(235,117,11,1) 100%); color: white " class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3">
            <div class="container">
                <a class="navbar-brand" style="color:white" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div  class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" style="color:white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " style="color:white" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " style="color:white" asp-area="" asp-controller="Donations1" asp-action="Index">Donations</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" style="color:white" asp-area="" asp-controller="Disasters" asp-action="Index">Disaster</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" style="color:white" asp-area="" asp-controller="CashDonations" asp-action="Index">CashDonation</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link " style="color:white" asp-area="" asp-controller="AllocatedFunds" asp-action="Index">AllcatedFunds</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " style="color:white" asp-area="" asp-controller="AlocatedGoods" asp-action="Index">AllocatedGoods</a>
                        </li>


                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="background: rgb(189,25,227); background: linear-gradient(118deg, rgba(189,25,227,1) 0%, rgba(235,117,11,1) 100%);" class="border-top footer text-muted">
        <div class="container" style="color:white">
            &copy; 2022 - APPR___TASK_1__USE_ - <a asp-area="" asp-controller="Home" asp-action="Admin">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
